body {
  background: #eee;
  margin: 0;
  padding: 0;
  color: #888;
}

body, button {
  font-family: 'Varela Round', sans-serif;
  font-size: 100%;
}

a {
  text-decoration: none;
  color: #333;
  outline: none;
  position: relative;
  display: inline-block;
  overflow: visible;
  transition: color 250ms;
}

a:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: 0.666em;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background: transparent;
  transition: background-color 250ms;
}

a:hover {
  color: #08f;
}

a:hover:after, a:focus:after {
  background: #08f;
}

button {
  background: transparent;
  color: #888;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  outline: none;
  text-transform: lowercase;
}

button span {
  margin-right: 0.125rem;
}

#toggle-mute {
  margin-right: 0.25rem;
}

#toggle-theme, #full-screen {
  float: right;
  margin-left: 0.25rem;
}

button:focus {
  color: #08f;
}

button:hover {
  color: #333;
}

header, section, footer {
  width: 568px;
  margin: 0 auto;
}

header {
  margin-top: 1rem;
  line-height: 2rem;
  font-size: 0.75rem;
}

footer {
  margin-top: 1rem;
  font-size: 0.75rem;
}

h1 {
  font-size: 1.5rem;
  margin: 0 1rem 0 0;
  line-height: 2rem;
}

h1 a:after {
  display: none;
}

#container {
  height: 319.5px;
  overflow: hidden;
  background: white;
  margin-top: 1rem;
}

#music-info {
  margin-top: 2rem;
  font-size: 0.75rem;
}

#dweet-info {
  margin-top: 1rem;
}

#dweet-info pre {
  margin: 1.5rem 0 0 0;
  word-break: break-all;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  font-size: 1rem;
  min-height: 10rem;
}

#c {
  width: 100%;
  background: white;
}

.speaker {
  vertical-align: middle;
  box-sizing: border-box;
  display: inline-block;
  background: currentColor;
  background-clip: content-box;
  width: 1em;
  height: 1em;
  border: .333em solid transparent;
  border-right-color: currentColor;
  position: relative;
  left: -.337em;
}
.speaker.-on:before, .speaker.-on:after {
  content: '';
  background: currentColor;
  width: .1em;
  position: absolute;
}
.speaker.-on:before {
  height: .333em;
  right: -.533em;
}
.speaker.-on:after {
  height: .667em;
  right: -.733em;
  top: -50%;
}
.speaker.-off:before, .speaker.-off:after {
  content: '';
  background: currentColor;
  width: .1em;
  position: absolute;
  height: 1.2em;
  margin-top: -.333em;
  top: -.1em;
  left: .1em;
  transform: translateX(.333em) rotate(-45deg);
}
.speaker.-off:before {
  background: #eee;
  left: .2em;
}
